.wrapper {
  display: flex;
  gap: 0.5rem;
  align-items: flex-end; /* Alinha os dias da semana com a parte de baixo se precisar */
}

/* Coluna dos Dias (D, S, T...) */
.weekDays {
  display: grid;
  grid-template-rows: repeat(7, minmax(0, 1fr));
  gap: 0.25rem; /* Gap de 4px */
}

.weekDay {
  color: var(--text-secondary);
  font-size: 0.75rem; /* 12px (Texto bem pequeno) */
  font-weight: bold;
  height: 0.875rem; /* Mesma altura do quadradinho (14px) */
  width: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* A Grade Principal */
.grid {
  display: grid;
  grid-template-rows: repeat(7, minmax(0, 1fr));
  grid-auto-flow: column;
  gap: 0.25rem; /* Gap de 4px entre os quadradinhos */
}

/* O Placeholder (Dias futuros/vazios) */
.habitDayPlaceholder {
  width: 0.875rem;  /* 14px (Igual ao HabitDay) */
  height: 0.875rem;
  background-color: var(--surface);
  border: 1px solid var(--border);
  border-radius: 2px;
  opacity: 0.3;
  cursor: default;
}