.habitDay {
  width: 2.5rem;  /* 40px */
  height: 2.5rem; /* 40px */
  background-color: var(--surface); /* Cinza escuro */
  border: 2px solid var(--border);
  border-radius: 0.5rem; /* Levemente arredondado */
  cursor: pointer;
  transition: all 0.2s;
}

.habitDay:hover {
  border-color: var(--text-secondary); /* Borda mais clara ao passar o mouse */
}