.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;     /* Centraliza verticalmente */
  background-color: var(--background);
}

.content {
  width: 100%;
  max-width: 100%; /* Garante que usa a tela toda se precisar */
  padding: 2rem;
  
  display: flex;
  flex-direction: column;
  gap: 3rem;
  
  /* TRUQUE DE SÊNIOR: */
  /* Se o conteúdo for maior que a tela, permite scroll sem cortar o topo/esquerda */
  max-height: 100vh;
  overflow-y: auto; 
  align-items: center; /* Centraliza o Header e a Tabela */
}