/* src/index.css */
:root {
  /* Variáveis CSS (nossa paleta de cores global) */
  --background: #09090A;
  --text-primary: #FFFFFF;
  --text-secondary: #A1A1AA;
  --primary: #8B5CF6; /* Roxo */
  --primary-hover: #7C3AED;
  --border: #27272A;
  --surface: #18181B;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--text-primary);
  font-family: 'Inter', sans-serif; /* Se não tiver Inter, ele usa sans-serif */
  -webkit-font-smoothing: antialiased;
}